[2019-05-07 02:59] prdwyer opened #6 "on creating a query mihari throws errors involving undefined method for match? for the ip"
ruby in centos through rvm throws the following error (IP address edited out)

Warning: undefined method `match?' for "!!!THIS IS THE RETURNED IP FROM THE API!!!":String
/usr/local/rvm/gems/ruby-2.1.10/gems/mihari-0.2.0/lib/mihari/type_checker.rb:68:in `md5?'\n/usr/local/rvm/gems/ruby-2.1.10/gems/mihari-0.2.0/lib/mihari/type_checker.rb:18:in `hash?'\n/usr/local/rvm/gems/ruby-2.1.10/gems/mihari-0.2

[2019-05-07 04:13] ninoseki commented on #6
It seems like you are using Ruby 2.1 and mihari is only tested under Ruby 2.6.
So please update your Ruby to the latest version.

[2019-05-07 04:13] #6 closed

[2020-05-11 18:01] ValezBGP opened #157 "Enhancement"
You combined really cool tools but I definitely would suggest to check spyse.com. It's similar to the mentioned tools but has some advantages

[2020-05-15 12:35] puzzlepeaches opened #158 "Error installing mihari: How to Fix"
Hey there! Wanted to try out your tool but having a few issues.

Was having issues with both the gem install and Docker container so I pulled down the most recent Ruby Docker container for a clean environment with:

`docker pull ruby:slim-buster`
`docker run -it ruby:slim-buster /bin/bash`

Once I have a shell inside of the container, I check the version of Ruby:
[code]

After running the install

[2020-05-15 12:36] puzzlepeaches commented on #158
I can rebuild the container to adjust for this issue if you guys would like

[2020-05-15 13:08] #158 closed

[2020-05-15 13:08] ninoseki commented on #158
Please check https://github.com/ninoseki/mihari/blob/master/docker/Dockerfile as a reference.

[2020-07-30 19:48] jaimeblasco opened #164 "Add support for OTX"
It would be great to add support for OTX:
https://otx.alienvault.com/api

With an API key you have endpoints for PassiveDNS / URL's / Files, etc.

[2020-08-01 03:23] #164 closed

[2020-08-16 01:08] ninoseki commented on #157
@ValezBGP How can I utilize the Spyse API?
(e.g. How can I get passive DNS records via Spyse?)

[2020-08-17 08:34] ValezBGP commented on #157
Hey. Check out the API docs https://spyse.com/api <https://spyse.com/api>;  I think you’ll find out.

[2020-08-17 08:37] ninoseki commented on #157
No I cannot find it on the API doc.

[2020-08-17 09:28] ValezBGP commented on #157
Checked, weird. Seems like the changed some functonalty. I’ll ask them about that issue.

[2020-09-12 08:20] ninoseki commented on #157
Close this issue because there is no response for a month.

[2020-09-12 08:20] #157 closed

[2021-01-21 12:53] renovate[bot] opened #185 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:12] #185 closed

[2021-03-04 18:52] ssnkhan opened #186 "Installation Error"
Hello,

I am attempting to install mihari on a vanilla Ubuntu LTS instance and `ruby 3.0.0p0 (2020-12-25 revision 95aff21468) [x86_64-linux]`.

I am getting the following errors:

[code]

I have followed the instructions on https://github.com/ninoseki/mihari/issues/158 without success. Would appreciate any help.

[2021-03-04 19:06] ssnkhan commented on #186
Resolved by installing RVM, see https://rvm.io.

[2021-03-04 19:06] #186 closed

[2021-03-11 13:03] ssnkhan opened #187 "Feature Request: Github Alerting"
I wondered whether Github could be added as an alerting source within Mihari. Usually, when a high-impacting vulnerability is disclosed, analysts might closely monitor Github repositories for the release of proof of concept code. I imagine it working like this:

`mihari github 'CVE-2021-1732' --title "CVE-2021-1732" --description "Windows Elevation of Privilege Vulnerability" --tags "CVE"`

Mihari

[2021-03-11 13:06] ssnkhan opened #188 "Feature Request: Shodan Action Button"
Would it be possible to add Shodan as a one of the convenience links within the Slack alerter please? So in addition to "Lookup on VirusTotal", "Lookup on urlscan.io" and "Lookup on Censys", you would also have "Lookup on Shodan".

Thanks for your consideration.

[2021-03-13 00:55] ninoseki commented on #187
Your suggestion is understandable.
But I feel like the feature is out of scope of this tool. Thus I don't want to implement the feature as a default integration.

You can use `mihari import_from_json` command or write your own custom script for implementing.
https://github.com/ninoseki/mihari#how-to-create-a-custom-script

[2021-03-13 00:55] #187 closed

[2021-03-13 01:28] #188 closed

[2021-03-16 09:43] ssnkhan opened #197 "JSON Parsing Issue"
Hello there,

I have noticed that a rogue Shodan Metasploit search is causing Mihari to throw an error, resulting in all search results for that query not being added to the database. The error is:

[code]

The corresponding JSON in the error log is:
[code]

This specific IP/result is creating the error (and always this specific "Bam! Application Error"):
https://www.shodan.io/search?query=hash%3A

[2021-03-17 11:56] ninoseki commented on #197
I cannot reproduce the error.
The following two commands work in my env.

[code]

[2021-03-17 12:47] ssnkhan commented on #197
How odd.

The queries work providing there is not a result which contains something that breaks the parser. When that happens, none of the results (for that query) get pushed into the db. I had the same issue today:

[code]

This is the IP causing the issue today: https://beta.shodan.io/host/180.215.106.226

Is there an equivalent of `on error resume next` or something similar? So if the Metasploi

[2021-03-17 13:29] ninoseki commented on #197
I cannot fix the issue which cannot reproduce

[2021-03-19 16:15] ssnkhan commented on #197
I have done a fresh install of Ruby 3.0 on a fresh Ubuntu machine, and seem to keep running into this issue. I tried updating `cli.rb` with `:quirks_mode => true` (i.e. `json.parse (input, :quirks_mode => true)` but that falls over completely. According to Google, the error is caused by invalid JSON, in this instance being returned by the Shodan API.

Is there anything I can provide with regard to

[2021-03-19 16:23] ssnkhan commented on #197
Just had another look into the log file that I have been using to capture the errors. Looks like the same parse error is generated when the API returns a `api.shodan.io | 502: Bad gateway` error. What follows is the Cloudflare interstitial (HTML).

I wonder whether the size of the response could also be at play here; the other JSON errors appear in the log file and abruptly cut off part way throug

[2021-03-20 07:04] ninoseki commented on #197
@ssnkhan my understandings are:

- Shodan API returns an invalid JSON
- Mihari fails to parse a response from the API (because its format is invalid)

Are they right?
If so I think it's good to claim the issue to Shodan. 🤔

[2021-03-20 07:10] ninoseki commented on #197
Also, please provide the actual command you ran.
It will make me easier to find a clue from your complaints.

[2021-03-20 10:20] ssnkhan commented on #197
Thanks @ninoseki. The query is:

`mihari shodan 'ssl:"MetasploitSelfSignedCA" http.favicon.hash:-127886975 -http.title:"Bam! Application Error"' --title "Metasploit C2" --tags "C2"`

This query, and maybe 20 others, are ran via a cronjob. Looking at the result on Shodan (for the specific error in my log file) for the host https://beta.shodan.io/host/180.215.106.226/raw, the JSON is complete, but y

[2021-03-22 07:12] r0ny123 opened #201 "Error executing (some) censys query with mihari"
On Censys webpage, I did the following query **`443.https.tls.certificate.parsed.subject_dn:"CN=localhost, C=AU, ST=Some-State, O=Internet Widgits Pty Ltd" AND autonomous_system.description.raw:"DIGITALOCEAN-ASN" AND protocols:"80/http"`** and it returned 29 results but executing this same query with mihari, I got the following error:

[code]
This is the following query I ran with mihari:

`mihari

[2021-03-22 08:31] ssnkhan commented on #201
Looking at the response this appears to be query syntax error, see https://censys.io/api/v1/docs/report

400 BAD REQUEST
Your query could not be executed (e.g., query could not be parsed or timed out.) See error for more information.
Example:
{"error_code":400, "error":"query could not be parsed"}

Try enclosing your query in single quotes:

[code]

[2021-03-22 09:44] r0ny123 commented on #201
Thanks for the suggestion, it worked!

[2021-03-22 09:44] #201 closed

[2021-03-22 09:49] ssnkhan opened #202 "Feature Request: IOC Refresh Interval"
Thanks again for this wonderful tool.

As I understand it, mihari will currently only import indicators if they are not already in the `mihari.db` or Postgres database. As a large amount of malicious activity is typically conducted on ephemeral instances on Digital Ocean, OVH, AWS etc, this means that an IP (for example) may never trigger another alert again, even if it has, at some point, already

[2021-03-22 09:52] ssnkhan commented on #197
Update: sprinkling `sleep 5` has had no effect, and the same query continues to generate the above errors (not always, but reasonably consistently).

[2021-03-22 11:49] ninoseki commented on #197
Could you report the issue to Shodan, please?
The issue is caused by the error on the Shoda API side.
There is nothing I can do it with.

[2021-03-22 12:50] ssnkhan commented on #197
Thanks @ninoseki — I’ll raise the issue with Shodan.

However, could error handling be improved so that invalid JSON doesn’t interrupt the importing of other valid IOCs as part of the same query?

[2021-03-22 12:50] #197 closed

[2021-03-23 03:20] ninoseki commented on #197
Okey, it makese sense to me.
I will work on that.

[2021-03-25 17:27] bradchiappetta opened #206 "Feature Request: Add GreyNoise Community API Support as Analyzer"
Hello there.  GreyNoise has recently released a Community API that we think would be a valuable addition to your tool as an additional analyzer source.  We were wondering if you would consider adding it?

https://developer.greynoise.io/reference/community-api#get_v3-community-ip

https://greynoise.io/tech

Happy to provide any additional information or classifications if needed.

[2021-03-25 18:04] ssnkhan commented on #206
@bradchiappetta I registered for an account but it appears that the API key is time limited to two weeks. Does it automatically convert to a Community key after this time? I also can't see any documentation relating to query or rate limits for the mysterious Community API accounts.

[2021-03-25 18:14] bradchiappetta commented on #206
@ssnkhan : Thanks so much for the quick response and for looking into our tool.

The default account is time-limited with access to all endpoints for two weeks.  Once the "trial" expires, it reverts to community access which has no expiration (the date you see on the account page, for now, is just tied to the enterprise trial.  We'll be updated this workflow in the upcoming weeks to make this easi

[2021-03-25 18:33] ssnkhan commented on #206
@bradchiappetta Forgive me, I'm not a Mihari developer, just a very huge fan of the tool! Thanks for clarifying details around the community API.

[2021-03-25 18:36] bradchiappetta commented on #206
@ssnkhan : No problem at all, I'm glad to spread the word about our new Community API, we're pretty excited about it.

[2021-03-26 01:05] ninoseki commented on #206
@bradchiappetta Mihari is a tool for finding something malicious.

 It is needed to know the IP when using the community API (`https://api.greynoise.io/v3/community/{ip}`).

Thus I think it is not suitable for the tool. The GNQL API can be used along with tool but I'm not a paid user. So I have no chance to integrate it. The pay wall is a problem.

[2021-03-26 14:27] bradchiappetta commented on #206
@ninoseki : Thanks for your thoughts on integrating the Community API.  No worries there that it isn't a good fit, I appreciate you at least looking into it.

In regards to the paid GNQL endpoint, could you explain your thoughts on how that might tie into Mihari?  If it makes sense, I'm happy to create you a VIP account for a time for the development portion, then any users that wanted to try this

[2021-03-26 19:15] ninoseki commented on #206
Excuse me, I’m not sure why I should make a sales pitch for what I didn’t ask for from myself.

[2021-03-26 19:23] bradchiappetta commented on #206
My apologies, by no means, was I trying to make a sales pitch, if my response was received that way, I apologize.  My intent was just to offer the suggestion that users of Mihari might benefit from GreyNoise, but it seems like I was mistaken.  I will close this request, thank you for your time.

[2021-03-26 19:23] #206 closed

[2021-04-01 02:50] ninoseki opened #207 "Builti-in web app"
Create a built-in web app to manage alerts & check the configuration.

[2021-04-01 02:50] ninoseki opened #208 "Support MySQL"
Support MySQL as a primaray database.

[2021-04-01 12:14] #207 closed

[2021-04-01 13:01] ssnkhan opened #211 "urlscan Issues"
Hi there,

Seeing some unusual behaviour where all queries using `urlscan` refuse to work (when called via cron), generating the following error:

[code]

What I think is happening, is that `urlscan` the binary at `usr/lib/urlscan` is being executed, rather than the the mihari module itself. I have tried this on two separate machines and am getting the same error. The API key has been set correctl

[2021-04-01 13:10] #208 closed

[2021-04-01 13:14] ninoseki commented on #211
I just checked `mihari urlscan` command and it worked without the error.

As the error says, you have to set `URLSCAN_API_KEY` to use the command.

[2021-04-01 13:24] ninoseki commented on #211
Sorry I overlooked this line.

A possible cause is a typo.
Please make sure to set your urlscan.io API key as `URLSCAN_API_KEY`.
(ref. https://github.com/ninoseki/mihari/blob/master/lib/mihari/config.rb#L33)

[2021-04-01 13:35] ssnkhan commented on #211
The key has been set correctly, as it will return results if typed directly in bash. But always fails when invoked with a cronjob (though all other queries work without issue).

[2021-04-01 15:02] ssnkhan commented on #211
This must be a environmental issue - the cronjob works locally, but not in production.

[2021-04-01 15:02] #211 closed

[2021-04-01 19:25] dmoore44 opened #213 "Config file"
Is there a default config file that's created when mihari is installed?

[2021-04-01 19:26] dmoore44 opened #214 "'mihari web' not found"
When I try to activate the web interface with `mihari web`, I get a `Could not find command "web".` error

[2021-04-01 19:30] ssnkhan commented on #213
No, you need to create the YAML file yourself, and then reference it using `--config`. Personally, I just use environment variables.

[2021-04-01 19:59] ssnkhan commented on #214
I ran the `build_frontend.sh` file that was just pushed to the repo today -- but am getting a `cp: cannot stat 'dist/*': No such file or directory`.

[2021-04-02 00:19] ninoseki commented on #214
I'm working on the `master` branch.
It means that the latest docs do not match with the latest version of published gem.
`mihari web` command will be included in the next release. Sorry for the inconvenience.

[2021-04-02 05:29] ninoseki commented on #214
@dmoore44 The latest version includes `web` command.
https://rubygems.org/gems/mihari/versions/2.0.0
Please update the gem to use the command.

[2021-04-02 05:29] #214 closed

[2021-04-02 05:57] r0ny123 opened #217 "Feature Request: integration with CIRCL Passive SSH"
CIRCL has an another service called [Passive SSH](https://github.com/D4-project/passive-ssh) which can be used for fingerprinting/tracking hosts using `specific banners`, `ssh keys` etc. With mihari we can pivot on those specifications, so it will be a nice addition for mihari.

They also operate existing Passive SSH database which can be used as a service . The api url is http://pssh.circl.lu and

[2021-04-02 06:19] ninoseki commented on #217
@r0ny123 I don't have credentials for the service.  Thus I cannot implement the integration.

[2021-04-02 06:20] ninoseki commented on #217
I guess that you have credentials. Then could you please work on the integration, please?
I'm willing to review your PR.

[2021-04-02 06:25] r0ny123 commented on #217
Maybe @adulau can help you getting a key, I guess.

[2021-04-02 06:29] r0ny123 commented on #217
I don't think I possess enough knowledge to implement that. :/

[2021-04-04 01:10] ninoseki commented on #213
@dmoore44 In the latest version of Mihari, you can initialize a config file by `mihari init_config`.

[2021-04-04 01:10] #213 closed

[2021-04-04 08:39] ninoseki commented on #217
To be clear, I don't have willingness towards coordinating the credentials to develop the integration.
I will take it into consideration if you can coordinate it for me.

[2021-04-04 08:53] ninoseki commented on #217
Or please provide persuasive information why it is useful with practical examples.

[2021-04-05 06:07] ninoseki commented on #202
Your suggestion makes sense to me. But I'm not willing to implement the workflow you suggested because it is a little bit complicated.  I'd like to follow the KISS principle.

You can delete artifacts via SQL or the web app. Isn't it enough?
Also, the web app has APIs to automate the task.

[2021-04-05 14:05] ssnkhan commented on #202
Appreciate your response, and I did originally think of dropping all rows based on the `created_at` field. However, there is a lot of intelligence value in retaining all detections, to see trends etc, especially for more obscure detections used by specific threat actors.

Would you be prepared to accept a PR if I sought to have this feature developed?

[2021-04-06 10:10] ninoseki commented on #202
I just came up with an idea to implement that feature. Adding `--ignore-old-artifacts` and `--ignore-days-threshold`.
if `--ignore-old-artifacts` option is `true`, then ignore artifacts which are created `--ignore-days-threshold` days before.

[code]

@ssnkhan What do you think?

[2021-04-06 10:48] ssnkhan commented on #202
Wow, this is perfect! Would it be possible to also fetch the values for these from ENV variables too please?

[2021-04-06 12:34] ninoseki commented on #202
Excuse me, why? I don't think that is useful.

[2021-04-06 15:33] ssnkhan commented on #202
I guess it would be simpler for cases where the conditions are the same for all queries. But you are right, setting `--ignore-old-artifacts` and `--no-ignore-old-artifacts` per rule is significantly more powerful.

[2021-04-07 07:32] ninoseki commented on #202
@ssnkhan Just a question,  do these messages and options sound natural?
[code]

Please let me know if you have better suggestions.

[2021-04-07 08:51] ssnkhan commented on #202
[code]

How about a single option `--ignore-old-artifacts` with a boolean value? Default could be `false` to maintain Mihari's existing  behaviour.

Because `--ignore-days-threshold` expects an integer representing days, I think `--ignore-threshold` would be a little more concise. Hope this helps!

[2021-04-07 11:30] #202 closed

[2021-04-10 13:00] r0ny123 commented on #217
Mihari already have support for cross searching with search engines by an SSH fingerprint, for that reason circl passive ssh can be a good search engine for this kind of stuff.

I asked him, but didn't get a response still, did he contact you?

[2021-04-12 08:13] ninoseki commented on #217
No, I haven't get a contact about this.

[2021-04-23 10:24] r0ny123 commented on #217
Sorry, I didn't get any response about that. If I manage to get it done, will put up a PR.

[2021-04-23 10:24] #217 closed

[2021-04-23 10:32] r0ny123 opened #240 "Zoomeye cant'be queried using username & password anymore"
`Zoomeye` recently changed the way how their service can be queried and introduced an API for that. So, `username` & `password` doesn't work anymore. It needs an update to reflect that.

<Ignore the bug label, it's not a really bug>

[2021-04-24 01:44] ninoseki commented on #240
Just of of curiosity,  why did you ignore the issue template?

[2021-04-24 02:36] ninoseki commented on #240
Really cannot understand what you mean. Please follow the template next time. Otherwise I will ignore your request.

[2021-04-24 02:58] #240 closed

[2021-04-24 03:32] r0ny123 commented on #240
Hey @ninoseki, I was going to fill up the issue using bug template but later thought that it was not a bug for mihari, so removed the template.
Thanks for the fix, this will not happen next time, cheers!

[2021-04-29 23:52] ssnkhan opened #242 "[BUG] ZoomEye Errors"
### **Describe the bug**
ZoomEye usage returns an error, suggesting that API settings are incorrect.

### **Steps to reproduce**
1. Write a ZoomEye query, e.g., `"x08\x08\x08\x08" +after:"2021-01-01"`
2. Convert to Mihari rule `mihari zoomeye ...`

### **Expected behavior**
Should return results from the ZoomEye API.

### **Actual behavior**
[code]

### **Screenshots**
N/A

### **System Informatio

[2021-04-30 00:18] ninoseki commented on #242
The issue is fixed in #241.
The fix will be included in the next release.

[2021-04-30 00:19] ninoseki commented on #242
Oops, I misread your claim. Let me check.

[2021-04-30 00:22] ninoseki commented on #242
Okay,

Is correct.

I develop the tool in `master` branch which includes unreleased changes. Docs may also refer to things which are not included in the latest published version.

[2021-04-30 00:22] #242 closed

[2021-05-07 18:00] MySickSi opened #244 "[BUG] Virus Total query not working"
Hello,

### **Describe the bug**

When I attempt to execute the "mihari virustotal google.com", I receive an error. I have added the API key to the mihari.yml file.

I verified the API key is correct by using the same key for vt-cli.

When attempting to run the command, I receive this output.

[code]
### **Screenshots**

Mihari call to VirusTotal with succesful vt-cli follow up;

![image](https://

[2021-05-07 22:41] ninoseki commented on #244
Mihari loads credentials through environmental variables by default.
You should use `--config` option to load credentials from a YAML file.

[code]

[code]

[2021-05-08 07:32] #244 closed

[2021-06-01 09:33] ninoseki opened #250 "[Feature Request] Support infrastructure-tracking-schema"
Implement a partial support of @3c7's [infrastructure-tracking-schema](https://github.com/3c7/infrastructure-tracking-schema) as an input.

## Rough notes

### Mapping

[code]

### Example

[code]

This input will aggregate search results from Shodan, Censys, BinaryEdge and merge them as an alert.

The input will be passed as a file or a string.

[code]

[2021-06-01 17:03] 3c7 commented on #250
Hey @ninoseki! I'm open for any feedback regarding the tracking schema. Was an idea in order to have a well documented rule set, but unfortunately I haven't found time to implement it into my own software projects. :innocent:

[2021-06-02 02:56] ninoseki commented on #250
@ssnkhan I'm thinking about making the following changes:
- Deprecate all search comands (mihari shodan, mihari censys, etc.)
- Add a "search" command which accepts the schema as an input
  - The old search commands should be replaced by this command

What do you think?

[2021-06-02 19:37] ssnkhan commented on #250
I think being able to store all that extra metadata will be very very helpful! However, will this also affect the structure of the `mihari.db`? Will the `--ignore-old-artifacts`,  and `--ignore-threshold` be configured within the `rule.yml` file, or will they be part of CLI usage as they are currently? Thanks :)

[2021-06-03 08:31] 3c7 commented on #250
Because there's always stuff which is tool related and changes from rule to rule, the schema allows adding the `custom` key (see the example [rule.yml](https://github.com/3c7/infrastructure-tracking-schema/blob/main/examples/rule.yml#L39)). Maybe that would be useful for mihari, too?

[2021-06-03 10:12] ninoseki commented on #250
Thank you for comments.
Yes, I'm thinking about using `custom` properties to keep the backward compatibility.

[2021-06-13 06:32] ninoseki commented on #250
I implemented a DSL to write a rule which is inspired by `infrastructure-tracking-schema`.
It's not totally followed the original schema. I customized it to fit with this app to not to make a breaking change.
The schemas for Mihari is defined in [here](https://github.com/ninoseki/mihari/blob/v3/lib/mihari/schemas/rule.rb).

[2021-06-13 06:32] #250 closed

[2021-06-16 11:56] r0ny123 opened #276 "[BUG] Mihari creates MISP event with 0 attributes"
### **Describe the bug**

Currently, `mihari` creates a `misp` event with 0 attributes, even if there is no new indicators in db.

### **Steps to reproduce**
Create a configuration file with `MISP_API_ENDPOINT` and `MISP_API_ENDPOINT` variable and do a simple query with that config file.

### **Expected behavior**

`mihari` should not create `misp` event with 0 attributes.

### **Screenshots**

![

[2021-06-16 12:16] r0ny123 opened #277 "[BUG] Error in validation of configuration file"
### **Describe the bug**
Mihari generates error while validating a configuration file using `mihari validate config`.

### **Steps to reproduce**

- Create a valid configuration file.

- Run `mihari validate config /path/to/config.yml` from CLI.

### **Expected behavior**

Mihari should validate it.

### **Actual behavior**
example config file:
[code]
The error is as follows:
[code]

### **System

[2021-06-16 12:21] r0ny123 commented on #277
Thanks, can you highlight that line for others to notice?

[2021-06-16 12:30] ninoseki commented on #276
It is an intended behavior. It indicates that there is no new finding.

[2021-06-16 12:33] r0ny123 commented on #276
I know that but is there any way to tackle this?
In the case of slack, it doesn't notify if there's no new indicator.

[2021-06-16 12:39] #276 closed

[2021-06-21 12:30] ssnkhan opened #281 "[BUG] Fresh Installation Issues"
### **Describe the bug**

When doing a fresh install of Mihari (on a fresh Ubuntu LTS machine), running a rule via the CLI (with the new syntax) always returns the following error, before showing the results:

`/var/lib/gems/2.7.0/gems/mihari-3.0.1/lib/mihari/analyzers/rule.rb:5: warning: already initialized constant NIL`

### **Steps to reproduce**
`mihari analyze shodan 'http.html_hash:"[REDACTE

[2021-06-22 10:45] #281 closed

[2021-07-28 11:09] ninoseki opened #290 "[Feature Request] Make possible to reject artifacts by regular expressions"
Make possible to reject(disallow) artifacts by a list of regular expressions.

[code]

[2021-07-30 12:12] #290 closed

[2021-08-05 20:42] ninoseki opened #295 "[Feature Request] Rule improvement"
Make possible to set `--ignore-old-artifacts` and `--ignore-threshold` in a rule like the following:

[code]

[2021-08-06 10:38] #295 closed

[2021-08-09 14:43] OsintCuriousNewbie opened #299 "[BUG] Cannot initialize a new configuration file"
### **Describe the bug**

After a fresh installation of Mihari, trying to initialize a configuration file fails

### **Steps to reproduce**

- Install Mihari with sudo privileges
- mihari init config with sudo privileges
- creation fails

### **Expected behavior**

Creation of a new Mihari configuration file

### **Actual behavior**

traceback (most recent call last):
        12: from /usr/local/b

[2021-08-09 15:13] #299 closed

[2021-08-16 08:55] ninoseki opened #310 "[Feature Request] Artifact enrichment"
Implement basic enrichment for artifact to provide more contextual data in Mihari.

- Notes:
  - Provide only "basic" enrichment feature.
  - Use methods which can be used for free.

## IP address

- ASN
- Country
- ISP / organization

## Domain

- DNS:
  - A records (Optional)
  - AAAA records (Optional)
  - CNAME records (Optional)
  - TXT records (Optional)
  - NS records (Optional)
  - MX reco

[2021-08-16 08:58] ninoseki commented on #310
@ssnkhan Let me know if you have any opnions about this topic.

[2021-08-16 09:09] ssnkhan commented on #310
This sounds amazing! I’ve been doing this manually until now. There’s a lot of value, especially around pDNS.

[2021-08-24 13:15] ninoseki commented on #310
Released a new version includes enrichments.
- Changelog: https://github.com/ninoseki/mihari/releases/tag/v3.6.0

[2021-08-24 13:15] #310 closed

[2021-08-30 09:27] renovate[bot] opened #328 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/ninoseki/mihari).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

These dependen

[2021-09-19 07:05] r0ny123 opened #342 "[BUG] Error while running mihari search using rules"
### **Describe the bug**

Mihari is producing following error while searching using a rule.
[code]

### **Steps to reproduce**

- Create a valid configuration file and rule.
- run `mihari search example.yml --config config.yml`

I used the following rule and configuration (and validated both using `mihari validate` command)
- **rule**:
[code]
- **configuration:**
[code]
### **Expected behavior**

[2021-09-19 07:21] ninoseki commented on #342
I cannot reproduce your claim.
The error says your a not configured the Censys analyzer correctly so I guess the path of the config file is wrong.

[2021-09-19 07:28] r0ny123 commented on #342
I rechecked the path of the config file.

[2021-09-19 08:06] r0ny123 commented on #342
@ninoseki for reference:
Using mihari 3.6.0 : https://github.com/r0ny123/mihari-test/runs/3643897339?check_suite_focus=true#step:5:85 (works perfect)
Using mihari 3.8.0 : https://github.com/r0ny123/mihari-test/runs/3643904921?check_suite_focus=true#step:5:4 (produces error)

[2021-09-19 11:31] ninoseki commented on #342
Literally I have no idea what you are doing. Do not upload credentials in plain text. Use encrypted secrets.

[2021-09-19 15:05] r0ny123 commented on #342
Hello, it's just for test and don't worry about the credentials, I reset it before pasting it here.

[2021-09-20 04:22] r0ny123 commented on #342
So, this bug not is not going to be fixed?

[2021-09-20 05:12] ninoseki commented on #342
Again, I cannot reproduce your claim.
So I can do nothing. Also I guess your claim is not valid.

[2021-09-20 05:20] r0ny123 commented on #342
If you really can't reproduce this, then do you have any explanation why this is happening
https://github.com/ninoseki/mihari/issues/342#issuecomment-922433457

On that test repo, I have showed you that mihari functionality (i.e. `mihari search example.yml --config config.yml`) works perfectly fine in 3.6.0 but not in 3.8.0.

[2021-09-26 18:17] adulau opened #351 "[Feature Request]hashlookup.circl.lu support"
It could be interesting to add hashlookup service from circl.lu. The API is free and documented there https://circl.lu/services/hashlookup/

Thanks a lot

[2021-09-27 12:46] ninoseki commented on #351
@adulau Excuse me, I cannot understand your suggestion well.
Could you explain it more specifically, please? How can I integrate the service into the tool?

[2021-09-30 06:15] ninoseki commented on #351
I will close this issue if there is no response within a week.

[2021-09-30 14:13] ssnkhan opened #358 "[BUG] Virus Total Intelligence"
### **Describe the bug**

Running a `virustotal_intelligence` query returns several ruby errors, and no results.

### **Steps to reproduce**
1. Running Mihari v 3.9.1
2. Run via CLI `mihari analyze virustotal_intelligence 'entity:file tag:"cve-2021-40444"' --title "CVE-2021-40444" --description "Identifies samples leveraging CVE-2021-40444" --tags "Exploit"`
3. Returns several errors:

[code]

###

[2021-09-30 14:42] ssnkhan commented on #358
Update -- Mihari returns results after a few minutes, but still shows the errors first.

[2021-09-30 20:31] adulau commented on #351
You can do expansion of hash value (MD5, SHA-1) in mihari. If you think it's useless for your tool, then you can close this issue. Thank you.

[2021-09-30 22:53] ninoseki commented on #351
As far as I understand, the database only contains hashes of legitimate files. Is it right?

[2021-09-30 22:54] #358 closed

[2021-10-01 01:06] ninoseki commented on #358
It's an warning, not an error.
But yes it's annoying so I fixed it. Thank you for reporting.

[2021-10-09 14:01] doomedraven commented on #342
@ninoseki hello, is kinda the same what @r0ny123 tried to do

[code]

* Config
[code]

* rule
[code]

* search
`mihari search rule.yml --config config.yml`

[2021-10-09 22:48] ninoseki commented on #342
Please use a quoted query. Otherwise the API fails to parse a query correctly.

[code]

[2021-10-09 22:48] #342 closed

[2021-10-10 03:03] r0ny123 commented on #342
**Finally**, it was fixed! Huge thanks @doomedraven. If you wouldn't have reported it, this one would have remained unfixed.

[2021-10-17 01:25] ninoseki commented on #351
I will close this issue because there is no response for 2 weeks.

[2021-10-17 01:25] #351 closed

[2021-10-21 09:21] ssnkhan opened #362 "[BUG] Mihari Key Error"
### **Describe the bug**
A rule is consistently generating an error. Based on my limited understanding I am aware that a Shodan rule is throwing the error, but I am struggling to isolate the rule in question. I am also struggling to determine what `key not found: "asn"` means in the context of this rule.

[code]

### **Steps to reproduce**
I am running a bash script running multiple rules (via the

[2021-10-21 20:21] #362 closed, assigned to nobody

[2021-10-26 09:14] ssnkhan opened #368 "[BUG] Shodan country_code Constraints Error"
### **Describe the bug**
Just updated to Mihari 3.10.0, and getting the following error.

[code]

### **Steps to reproduce**
`ssl:"MetasploitSelfSignedCA" http.favicon.hash:-127886975 -http.title:"Bam! Application Error"`

### **Expected behavior**
Should not return any errors.

### **Actual behavior**
Returns error as above.

### **Screenshots**
N/A.

### **System Information:**
- OS: Ubuntu
- Ru

[2021-10-27 21:50] #368 closed, assigned to nobody

[2021-10-29 10:26] ssnkhan opened #371 "[BUG] Shodan`block in request` error"
### **Describe the bug**
I am beginning to see several of these errors on each run. I have checked my log file, but the error does not seem to related to a specific rule.

[code]

### **Steps to reproduce**
Unable to isolate to specific rule, as my log files suggest rules work sometimes, but not other times. I can see the `The search query was invalid.` but can't seem to correlate this back to a r

[2021-10-30 13:17] ssnkhan commented on #371
Thank you -- adding some UTF declarations/exports to my bash file solved it:

[code]

[2021-10-30 13:17] #371 closed

[2021-11-20 22:34] ninoseki opened #372 "[Feature Request] Enable API call throttling"
## Background

Some APIs have a rate limitation. (e.g. 60 API calls / minute)
At the moment, Mihari does not care about it.
So I suggest introducing a new optional parameter (`interval`) for throttling while pagination.

## Implementation

**CLI**

[code]

**Rule**

[code]

[2021-12-04 23:35] #372 closed

[2021-12-30 15:20] r0ny123 opened #379 "[BUG] Mihari search fails using grape `1.6.1`"
### **Describe the bug**

Mihari searches generate error while using grape `1.6.1` (released on 28th dec). The searches were working perfectly fine while using `1.6.0`. This is not really a bug with mihari. But any workaround for now?

### **Expected behavior**

Mihari should return the results.

### **Actual behavior**

This is the error:
[code]

### **Additional context**

Others may have facing

[2021-12-30 20:12] ninoseki commented on #379
https://github.com/ruby-grape/grape/pull/2219

[2021-12-30 20:12] #379 closed

[2022-01-01 01:13] ssnkhan opened #381 "[Feature Request] ThreatFox"
1. Make sure your requested feature makes sense for Mihari.
[ThreatFox](https://threatfox.abuse.ch/), provided by abuse.ch, is a free portal allowing access to various IOCs related to malware and malware infrastructure. All IOCs are validated, meaning they are high-fidelity. Access to the API is free, and detailed [here](https://threatfox.abuse.ch/api/).

2. If you want to suggest a new integratio

[2022-01-01 14:48] ssnkhan commented on #381
Just realised that an API key is only required to _submit_ indicators; otherwise, no key is required :)

[2022-01-03 02:55] ninoseki commented on #381
I intentionally did not develop an analyzer for a feed because Mihari is a search aggregator, not a feed aggregator.
But your proposal is understandable. So I created a general feed ingestor which is shipped in v3.12.0. (#382)
Here is the usage of the new feature.
https://www.notion.so/Feed-b4bd11723e7043e5b2fdf78423479014

[2022-01-03 02:55] #381 closed

[2022-01-03 14:47] ssnkhan commented on #381
Thank you, this works wonderfully!

[2022-01-06 00:24] ninoseki opened #385 "v4 roadmap"
- New features:
  - DB based rule management
  - Daemonize the app and make it possible to query rules with cron-like scheduling

- Deprecations:
  - Configuration loading via YAML
  - `analyze` sub commands

[2022-01-08 00:46] ninoseki opened #386 "[v4] Remove analyze subcommands"
# Summary

- Remove analyze sub commands (#385)

[2022-01-08 00:48] ninoseki opened #387 "[v4] Remove mem"
# Summary

- Remove `mem` and use `memist` instead of that.

[2022-01-08 00:49] ninoseki opened #388 "[v4] Remove configuration loading feature"
# Summary

- Remove configuration loading feature (#385)

[2022-01-08 01:05] #387 closed

[2022-01-08 01:05] #386 closed

[2022-01-08 05:02] ninoseki opened #392 "[v4] DB based rule management feature"
# Summary

- Add DB based rule management feature (#385)

[2022-01-08 05:03] ninoseki opened #393 "[v4] Improve DB connection handling"
# Summary

- Improve DB connection handling

[2022-01-08 05:03] #388 closed

[2022-01-08 05:04] ninoseki opened #394 "[v4] Improve the feed analyzer"
# Summary

- Make possible to load a local file (CSV or JSON) as a feed

[2022-01-12 11:05] ninoseki opened #397 "[v4] Record metadata"
# Summary

Record metadata (raw JSON response) in an artifact.

For example, If Mihari finds `1.1.1.1` via Censys, metadata will be:

[code]

**Original data**

[code]

[2022-01-22 19:51] #392 closed

[2022-01-22 19:51] #393 closed

[2022-01-22 19:51] #397 closed

[2022-01-22 19:51] #385 closed

[2022-03-04 09:25] ssnkhan opened #424 "[BUG] Shodan Query Error"
### **Describe the bug**

From this morning 04/03/2022, a number of Shodan queries are consistently returning errors that have otherwise worked for  months. I suspect this is a Shodan issue, rather than a Mihari one (possibly an update to their API, which is now returning hostnames which are not consistent with what Mihari is expecting).

### **Steps to reproduce**
Run Shodan query -- ideally wher

[2022-03-04 10:15] ninoseki commented on #424
<img width="837" alt="Screen Shot 2022-03-04 at 7 12 46 PM" src="https://user-images.githubusercontent.com/291028/156744526-ffd5a513-9d94-4a73-a660-1417953acf80.png">

https://www.shodan.io/host/149.28.146.131

I think it is a problem on Shodan side.

[2022-03-04 10:22] ssnkhan commented on #424
Thanks Ninoseki-san, happy Friday!

[2022-03-04 10:39] #424 closed

[2022-03-18 16:59] r0ny123 opened #433 "[Feature Request] Use ThreatFox as an emitter"
1. [ThreatFox](https://threatfox.abuse.ch) is crowdsourced. So, it makes sense to push the IOCs here in a automated way, so other could be benifited from the service.

2. The API key for submitting Indicators is free! According to their site _`In order to share indicators of compromise (IOCs) on ThreatFox, an API key is needed. You can obtain one by [logging](https://threatfox.abuse.ch/login/) in

[2022-03-18 21:57] ninoseki commented on #433
I think you should provide verified IoCs to ThreatFox to prevent false positives.
But, unfortunately, Mihari can have false positives because of its nature. (It depends on the quality of a query though)
So I don't think it is a good idea.

[2022-03-19 13:14] r0ny123 commented on #433
Your thought is right, one should provide verified IoCs to ThreatFox, but I had seen some folks pushing unverified ones too and personally reported to remove them. So, one should consider some extra caution before ingesting threatfox IoCs either way. And Exactly, it depends on a query. If one understands a C2 well, there's very low chance that it will produce FP. Even if it get FPs, those can be r

[2022-03-21 02:45] ninoseki commented on #433
I don't have willingness to create the ThreatFox emitter but I created a general purpose HTTP emitter.
You can use it for the ThreatFox integration.
https://github.com/ninoseki/mihari/releases/tag/v4.3.0

[2022-03-21 02:45] #433 closed

[2022-03-21 04:06] r0ny123 commented on #433
Ah thanks. Can you share a example of how to use it?

[2022-03-21 04:08] r0ny123 commented on #433
Thanks.

[2022-03-21 05:45] r0ny123 commented on #433
Just checked the documentation https://www.notion.so/HTTP-ec6a0e3dfc644b88a34263d22f026cd3, but where the `.erb` files should be placed or from where mihari will load it?

[2022-03-21 08:28] r0ny123 opened #443 "[BUG] Mihari can't validate rule with `analyzer: zoomeye`"
### **Describe the bug**

Mihari fails to validate rule when the analyzer is zoomeye.

### **Steps to reproduce**

-  Create a rule with an `analyzer: zoomeye`, eg.
[code]
- save the above rule as `example.yml`.
- run `mihari validate rule example.yml`

### **Expected behavior**

Mihari Should validate it correctly.

### **Actual behavior**

`2022-03-21 13:52:34.276623 E [50395:8180 rule.rb:51] Mi

[2022-03-22 10:56] ninoseki commented on #443
It's not a bug. You should set `type`.

[2022-03-22 10:56] #443 closed

[2022-03-22 15:22] r0ny123 opened #446 "[BUG] PassiveTotal analyzer not returning IPs while searching using SHA1 of a certificate"
### **Describe the bug:**

According to [documentation](https://www.notion.so/PassiveTotal-7775706467bc438f8d3173e7ee148440), searching using `Hash (SSL certificate SHA1 fingerprint)` will return IP addresses associated with it. In this case, PassiveTotal analyzer not returning IPs while searching using sha1 of a certificate.

### **Steps to reproduce:**

- create example a rule mentioned below:
[

[2022-03-22 23:45] #446 closed

[2022-05-16 09:22] RelaxedMind1 opened #477 "[BUG] mihari web launchy error"
### **Describe the bug**

Running the mihari web command crashes the container with the following error.

/usr/local/bundle/gems/launchy-2.5.0/lib/launchy/applications/browser.rb:63:in `browser_cmdline': Unable to find a browser command. If this is unexpected, Please rerun with environment variable LAUNCHY_DEBUG=true or the '-d' commandline option and file a bug at https://github.com/copiousfreeti

[2022-05-16 14:43] certrik opened #478 "Question: Getting `AxiosError: Request failed with status 500`"
I have defined shodan api key with `export SHODAN_API_KEY=<MY API KEY>` and using
[code]
as a rule and getting `AxiosError: Request failed with status 500` in the WebApp.
What could I possible done wrong. Probably a lot but need help.

[2022-05-16 14:47] ninoseki commented on #478
Please share the error log. Otherwise I don't have a clue.

[2022-05-16 19:47] certrik commented on #478
THX. I would ... but where do I find the log?

[2022-05-16 23:45] ninoseki commented on #478
You can see the log in your terminal.

[code]

[2022-05-16 23:50] ninoseki commented on #477
Thanks for reporting.

[2022-05-16 23:52] #477 closed

[2022-05-17 13:10] hermesthegoat opened #480 "[BUG]"
### **Describe the bug**

Errors when using virustotal_intelligence analyzer with an entity:url switch in the query. 'invalid type for :url' error message returned.

### **Steps to reproduce**
title: [title] # String (required)
description: [string] # String (required)

author: # (optional)
created_on: <%= Date.today %> # Date (optional)
updated_on: <%= Date.today %> # Date (optional)

tags: [] #

[2022-05-18 12:20] ninoseki commented on #478
Hmm, could you share the rule if you don't mind?
It it is confidential, you can use my email address. (You can find it in my profile)

[2022-05-18 12:21] ninoseki commented on #478
Also please share the following information.

[code]

[2022-05-18 13:08] #480 closed

[2022-05-19 11:04] certrik commented on #478
Rule is not very confidential but I will send it you in privat.
- OS: 5.13.0-41-generic #46~20.04.1-Ubuntu SMP Wed Apr 20 13:16:21 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
- Ruby version: 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux-gnu]
- Mihari version: 4.6.0

[2022-05-19 11:55] #478 closed

[2022-05-19 11:58] ninoseki commented on #478
Thanks, I just fixed the issue by #482.
But your rule matches with 2,000+ results. I think it will cause a timeout error in the web application.
Mihari's web app uses [Puma](https://github.com/puma/puma) and its default timeout value is 60s. The timeout value is not configurable right now.

So I recommend to use CLI to run the rule.

[code]

[2022-05-19 12:02] ninoseki commented on #478
FYI the fix is included in v4.6.1.
https://github.com/ninoseki/mihari/releases/tag/v4.6.1

[2022-06-25 12:16] ssnkhan opened #492 "[BUG] Mihari `loc` KeyError"
### **Describe the bug**
An existing Feed rule which has worked since inception is beginning to return a `*A* 'KeyError' *occured in background*: key not found: "loc"` error.

### **Steps to reproduce**
1. Query the API directly first, using `curl -X POST https://threatfox-api.abuse.ch/api/v1/ -d '{ "query": "malwareinfo", "malware": "Cobalt Strike", "limit": 100 }'` which returns results as expec

[2022-06-25 12:57] #492 closed

[2022-06-25 14:34] ssnkhan commented on #492
Thank you @ninoseki  san for reviewing this so promptly. I have patched the three files manually and can confirm that this resolves the issue.

[2022-07-29 21:30] ssnkhan opened #501 "[Help] Parse CSV / TXT File"
### **Describe the bug**

I am trying to import a list of IPs from either of the following two sources:

* https://threatview.io/Downloads/High-Confidence-CobaltstrikeC2_IP_feed.txt
* https://threatview.io/Downloads/High-Confidence-CobaltStrike-C2%20-Feeds.txt

I am using the Feed parser, but struggling to do so. I do not believe this is a Mihari issue, but rather my inexperience with Ruby syntax.

[2022-07-29 21:34] ssnkhan commented on #501
I just noticed that the running `jr "map { |v| v[1] }"` on the rule within the [Mihari Knowledge Base](https://www.notion.so/Feed-b4bd11723e7043e5b2fdf78423479014) also returns a similar error.

[2022-07-29 21:43] ninoseki commented on #501
- `jr` only works with JSON file
- Mihari converts CSV file into an array automatically so it can use `jr` filter
  - While converting CSV into an array, comments (lines start with "#" will be ignored)
- `map { |v| v[1] }` works with URLHaus feed because it places IoCs in the second column

So `selector: "map { |v| v[0] }"` works in this case.

[2022-07-29 21:43] #501 closed

[2022-07-29 21:54] ssnkhan commented on #501
Must have been a user error, but the rule seems to work now, thank you!

[2022-10-04 10:34] Celtic03 opened #513 "Issue POST Mihari > MISP with API"
### **Issue connecting Mihari results to MISP with API key**

When running the mihari scripts the results are not being transfered to MISP instance with API.

I have tested the Mihari connection to MISP with API key and working with the following:

sudo curl -k -i -H "Accept: application/json" -H "content-type: application/json" -H "Authorization: MISP API KEY" --data "@TEST.json"  https://MISPip/

[2022-10-08 00:11] ninoseki commented on #513
Mihari output (= Mihari alert JSON data) is not compatible with the MISP event format.
Mihari converts an alert into a MISP event and sends it to a MISP server.

Your report is difficult to read and so I'm not 100% sure but I cannot reproduce the issue.
Mihari (v4.9.0) works along with MISP v2.4.159.

The following is a screenshot of a MISP event created by the DNSTwister query.

<img width="1106"

[2022-10-08 00:12] ninoseki commented on #513
Also please follow the bug report format next time.

[2022-10-08 00:13] #513 closed

[2022-10-11 08:25] hermesthegoat commented on #480
Hi, please find below query used:

title: Possible C2 # String (required)

description: A collection of rules pertaining to possible teabot C2 Servers # String (required)

author: xxx # (optional)

created_on: <%= Date.today %> # Date (optional)

updated_on: <%= Date.today %> # Date (optional)

tags: [teabot, lowconfidence, c2, mobile] # Array<String> (Optional, defaults to [])

allowed_data_types

[2022-10-11 08:31] ninoseki commented on #480
Sorry I cannot understand anything